@use 'sass:color';

// Color variables
$primary-color: #707070;
$secondary-color: #178ece;
$background-color: #f5f5f5;
$black-color: #0d0d0d;
$success-color: #577c4f;
$danger-color: #d41b1b;
$warning-color: #cd711b;

// Typography & Layout variables
$font-size-base: 16px;
$font-family-base: 'Roboto', sans-serif;
$border-radius-base: 4px;
$transition-base: all 0.3s ease;
$padding-btn: 10px 16px;
$icon-size: 30px;

// General Reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: $primary-color;
	background-color: $background-color;
	font-family: $font-family-base, sans-serif;
}

// Button styles
.btn {
	font-size: $font-size-base;
	min-width: 80px;
	padding: $padding-btn;
	border: none;
	border-radius: $border-radius-base;
	color: $background-color;
	background-color: $black-color;
	cursor: pointer;
	transition: $transition-base;

	&:hover {
		background-color: color.scale($black-color, $lightness: -10%);
	}

	&.secondary {
		background-color: $secondary-color;

		&:hover {
			background-color: color.scale($secondary-color, $lightness: -10%);
		}
	}

	&.success {
		background-color: $success-color;

		&:hover {
			background-color: color.scale($success-color, $lightness: -10%);
		}
	}

	&.warning {
		background-color: $warning-color;

		&:hover {
			background-color: color.scale($warning-color, $lightness: -10%);
		}
	}

	&.destructive {
		background-color: $danger-color;

		&:hover {
			background-color: color.scale($danger-color, $lightness: -10%);
		}
	}
}

// Icon styles
.icon {
	width: $icon-size;
	height: $icon-size;
	padding: 5px;
	border: none;
	border-radius: $border-radius-base;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
	transition: $transition-base;
	content: url('./assets/icons/dot.svg');
	background-color: $black-color;

	&:hover {
		background-color: color.scale($black-color, $lightness: -10%);
	}

	&.warning {
		content: url('./assets/icons/cross.svg');
		background-color: $warning-color;

		&:hover {
			background-color: color.scale($warning-color, $lightness: -10%);
		}
	}

	&.success {
		content: url('./assets/icons/check.svg');
		background-color: $success-color;

		&:hover {
			background-color: color.scale($success-color, $lightness: -10%);
		}
	}

	&.secondary {
		content: url('./assets/icons/pencil.svg');
		background-color: $secondary-color;

		&:hover {
			background-color: color.scale($secondary-color, $lightness: -10%);
		}

		&.save {
			content: url('./assets/icons/save.svg');
		}

		&.arrow {
			content: url('./assets/icons/arrow.svg');
		}
	}

	&.destructive {
		&.cross {
			content: url('./assets/icons/cross.svg');
		}

		content: url('./assets/icons/trash.svg');
		background-color: $danger-color;

		&:hover {
			background-color: color.scale($danger-color, $lightness: -10%);
		}
	}
}

// Input styles
.input-box {
	width: 100%;
	margin-right: 10px;
	padding: 10px;
	border: none;
	border-radius: $border-radius-base;
	box-shadow: 0 0 10px color.scale($black-color, $lightness: 80%);
	outline: none;
	background: transparent;
	font-size: 18px;
	transition: $transition-base;

	&:focus {
		box-shadow: 0 0 10px color.scale($black-color, $lightness: 80%) inset;
	}
}

// Toast styles
.toast-container {
	position: fixed;
	top: 20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	z-index: 9999;

	.toast {
		padding: 15px 20px;
		border-radius: calc($border-radius-base * 2);
		color: $secondary-color;
		background-color: $background-color;
		box-shadow: 0 0 10px color.scale($black-color, $lightness: 80%);
		display: flex;
		align-items: center;
		position: relative;
		transition: $transition-base;
		animation: slideIn 0.3s ease-in-out forwards;

		&::before {
			content: '';
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			mask: url('./assets/icons/info.svg') no-repeat center;
			mask-size: cover;
			background-color: $secondary-color;
		}

		&.success {
			color: $success-color;

			&::before {
				mask: url('./assets/icons/check.svg') no-repeat center;
				background-color: $success-color;
			}
		}

		&.warning {
			color: $warning-color;

			&::before {
				mask: url('./assets/icons/warning.svg') no-repeat center;
				background-color: $warning-color;
			}
		}

		&.error {
			color: $danger-color;

			&::before {
				mask: url('./assets/icons/cross.svg') no-repeat center;
				background-color: $danger-color;
			}
		}
	}

	@keyframes slideIn {
		from {
			transform: translateX(100%);
			opacity: 0;
		}

		to {
			transform: translateX(0);
			opacity: 1;
		}
	}
}

.container {
	max-width: 800px;
	margin: 20px auto;
	padding: 15px;
	border-radius: calc($border-radius-base * 2);
	box-shadow: 0 0 10px color.scale($black-color, $lightness: 80%);

	@media (max-width: 768px) {
		margin: 20px;
	}
}

.page-title {
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 20px;
	text-align: center;
}

.todo-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.todo-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 8px 10px;
	border-radius: $border-radius-base;
	box-shadow: 0 0 10px color.scale($black-color, $lightness: 80%);

	&.complete .text {
		text-decoration: line-through;
		color: $success-color;
	}

	.actions {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}

.create-todo {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	.btn {
		width: 18%;

		@media (max-width: 768px) {
			width: 50%;
		}
	}
}

.completed-todos {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 15px;

	.head {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}

	.title {
		font-size: 20px;
		color: $success-color;
		font-weight: bolder;
	}
}